*{
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#user-detail{
    width: 100%;
    margin: auto;
    margin-top: 2%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#user-detail>input, #user-detail>button{
    padding: 20px;
}

#movie_tab{
    width: 50%;
    margin: 2% auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    text-align: center;
    align-items: center;
}
#movie_tab>img{
    width: 50%;
}
