*{
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#add-money{

    width: 30%;
    height: 450px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#add-money>input,#add-money>button{
    width: 90%;
    margin: auto;
    padding: 15px;
    font: 1.2em sans-serif;
}
